@charset "utf-8";
.col-68676B{color: #68676b}
.t-nonehove:hover{text-decoration: none !important}
.navborpitch{border-bottom: 3px solid #68676b;}
.hovecol-black:hover{color: #333 !important;}
.h-100{height: 100px;}
.w-80{width: 80px;}
.grad {
  background: -webkit-linear-gradient(red, blue); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(red, blue); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(red, blue); /* Firefox 3.6 - 15 */
  background: linear-gradient(red, blue); /* 标准的语法 */
}